Khai báo thư viện

In [35]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

Đọc dữ liệu

In [36]:
patientheartrate = pd.read_csv("D:\DataAnalyst\Lab_3\patient_heart_rate.csv", encoding='latin-1')
patientheartrate.head(10)

     1    Mickéy Mousé    56       70kgs   72   69   71    -  -.1  -.2
0  2.0     Donald Duck  34.0   154.89lbs    -    -    -   85   84   76
1  3.0      Mini Mouse  16.0         NaN    -    -    -   65   69   72
2  4.0  Scrooge McDuck   NaN       78kgs   78   79   72    -    -    -
3  5.0    Pink Panther  54.0  198.658lbs    -    -    -   69  NaN   75
4  6.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
5  7.0    Dewey McDuck  19.0       56kgs    -    -    -   71   78   75
6  8.0      Scööpy Doo  32.0       78kgs   78   76   75    -    -    -
7  NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
8  NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
9  NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN

- encoding='latin-1': Dùng để sửa lỗi 'utf-8' khi đọc file.

3. Vấn đề 1: Tiến hành tải dữ liệu vào chương trình ứng dụng Python và giải quyết vấn đề "Missing header in the csv file".

In [37]:
column_name = ["Id", "Name", "Age", "Weight", "m0006", "m0612", "m12186", "f0006", "f0612", "f1218"]
patientheartrate = pd.read_csv("D:\DataAnalyst\Lab_3\patient_heart_rate.csv", names = column_name, encoding='latin-1')
patientheartrate.head(10)

    Id            Name   Age      Weight m0006 m0612 m12186 f0006 f0612 f1218
0  1.0    Mickéy Mousé  56.0       70kgs    72    69     71     -     -     -
1  2.0     Donald Duck  34.0   154.89lbs     -     -      -    85    84    76
2  3.0      Mini Mouse  16.0         NaN     -     -      -    65    69    72
3  4.0  Scrooge McDuck   NaN       78kgs    78    79     72     -     -     -
4  5.0    Pink Panther  54.0  198.658lbs     -     -      -    69   NaN    75
5  6.0     Huey McDuck  52.0      189lbs     -     -      -    68    75    72
6  7.0    Dewey McDuck  19.0       56kgs     -     -      -    71    78    75
7  8.0      Scööpy Doo  32.0       78kgs    78    76     75     -     -     -
8  NaN             NaN   NaN         NaN   NaN   NaN    NaN   NaN   NaN   NaN
9  NaN             NaN   NaN         NaN   NaN   NaN    NaN   NaN   NaN   NaN

Vì lí do thiếu header của file csv, do đó ta sẽ tạo 1 biến "column_name" chứa header hợp lí.

4. Vấn đề 2: Xử lý vấn đề một cột lưu hỗn hợp nhiều dữ liệu, ở đây là cột "Name" chứa bao gồm "Firstname" và "Lastname", giải pháp là ta sẽ tách ra làm 2 cột.

In [38]:
patientheartrate[['Firstname', 'Lastname']] = patientheartrate['Name'].str.split(expand=True)
patientheartrate = patientheartrate.drop('Name', axis=1)
patientheartrate.head(10)

,Id,Age,Weight,m0006,m0612,m12186,f0006,f0612,f1218,Firstname,Lastname
0,1.0,56.0,70kgs,72,69,71,-,-,-,Mickéy,Mousé
1,2.0,34.0,154.89lbs,-,-,-,85,84,76,Donald,Duck
2,3.0,16.0,NaN,-,-,-,65,69,72,Mini,Mouse
3,4.0,NaN,78kgs,78,79,72,-,-,-,Scrooge,McDuck
4,5.0,54.0,198.658lbs,-,-,-,69,NaN,75,Pink,Panther
5,6.0,52.0,189lbs,-,-,-,68,75,72,Huey,McDuck
6,7.0,19.0,56kgs,-,-,-,71,78,75,Dewey,McDuck
7,8.0,32.0,78kgs,78,76,75,-,-,-,Scööpy,Doo
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- patientheartrate['Name']: Truy cập cột "Name" của DataFrame patientheartrate.

- .str.split(expand=True): Sử dụng phương thức split()  để tách các giá trị trong cột "Name" dựa trên khoảng trắng mặc định. Tham số "expand=True" sẽ làm cho kết quả là một DataFrame mới với các cột được tạo từ các phần tử sau khi tách.

- patientheartrate[['Firstname', 'Lastname']] : Gán các cột mới "Firstname" và "Lastname" bằng các giá trị tách ra từ cột "Name".

- patientheartrate.drop('Name', axis=1): Xóa cột "Name" khỏi DataFrame patientheartrate. Tham số "axis=1" chỉ ra rằng thao tác sẽ thực hiện trên cột.

5. Vấn đề 3: Cột Weight có vấn đề về không thống nhất các đơn vị đo lường trong dữ liệu. Ta sẽ chuyển các đơn vị về thành đơn vị chuẩn "kg".

In [39]:
weight = patientheartrate['Weight']
for i in range(0, len(weight)):
    x = str(weight[i])
    if "lbs" in x[-3:]:
        x = x[:-3:]
        float_x = float(x)
        y = int(float_x/2.2)
        y = str(y) + "kgs"
        weight[i] = y
print(patientheartrate)

      Id   Age Weight m0006 m0612 m12186 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69     71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -      -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -      -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79     72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -      -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -      -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -      -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76     75     -     -     -    Scööpy      Doo
8    NaN   NaN    NaN   NaN   NaN    NaN   NaN   NaN   NaN       NaN      NaN
9    NaN   NaN    NaN   NaN   NaN    NaN   NaN   NaN   NaN       NaN      NaN
10   NaN   NaN    NaN   NaN   NaN    NaN   NaN   NaN   NaN       NaN      NaN
11   9.0  52.0  85kgs     -     -      -    68    75    72      Huey   McDuck
12  10.0  12.0  45kgs     -     -      -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75     72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67     55     -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -      -    68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN    NaN   NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -      -    68    75    72       NaN      NaN

C:\Users\admin\AppData\Local\Temp\ipykernel_34088\725681281.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
C:\Users\admin\AppData\Local\Temp\ipykernel_34088\725681281.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
C:\Users\admin\AppData\Local\Temp\ipykernel_34088\725681281.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
C:\Users\admin\AppData\Local\Temp\ipykernel_34088\725681281.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
C:\Users\admin\AppData\Local\Temp\ipykernel_34088\725681281.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y

- weight = patientheartrate['Weight']: Lấy cột 'Weight' từ DataFrame và gán nó vào biến 'weight'.

- for i in range(0, len(weight)): Tạo 1 dãy số từ 0 đến độ dài của danh sách 'weight' - 1.

- x = str(weight[i]): Chuyển giá trị trọng lượng tại vị trí 'i' trong danh sách 'weight' thành chuỗi rồi gán vào x.

- if "lbs" in x[-3:]: Kiểm tra chuỗi "lbs" xuất hiện trong ba ký tự cuối cùng của "x". Điều này để kiểm tra xem trọng lượng có được ghi bằng đơn vị pounds hay không.

- x = x[:-3:]: Nếu x chứa "lbs" trong ba ký tự cuối, dòng này loại bỏ ba ký tự cuối cùng khỏi x. Kết quả là chuỗi x chỉ còn lại phần số mà không có "lbs".

- float_x = float(x): Chuyển đổi giá trị chuỗi x (phần số đã loại bỏ "lbs") thành một số thực và gán nó vào biến float_x.

- y = int(float_x / 2.2): Chuyển đổi giá trị từ pounds sang kilograms bằng cách chia float_x cho 2.2 và sau đó chuyển đổi kết quả thành một số nguyên. Kết quả được gán vào biến y.

- y = str(y) + "kgs": Chuyển đổi giá trị số nguyên y thành chuỗi và thêm "kgs" vào cuối chuỗi để biểu thị đơn vị là kilograms. Kết quả được gán vào biến y.

- weight[i] = y: Cập nhật giá trị tại vị trí i trong danh sách weight với giá trị mới là y (trọng lượng đã chuyển đổi sang kilograms).

6. Vấn đề 4: Vấn đề về xuất hiện dòng dữ liệu rỗng (không có giá trị: NaN). Giải pháp có thể đưa ra là xóa bỏ.

In [40]:
patientheartrate.dropna(how="all", inplace=True)
print(patientheartrate)

      Id   Age Weight m0006 m0612 m12186 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69     71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -      -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -      -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79     72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -      -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -      -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -      -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76     75     -     -     -    Scööpy      Doo
11   9.0  52.0  85kgs     -     -      -    68    75    72      Huey   McDuck
12  10.0  12.0  45kgs     -     -      -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75     72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67     55     -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -      -    68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN    NaN   NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -      -    68    75    72       NaN      NaN

- dropna(): Đây là phương thức của pandas DataFrame để loại bỏ các hàng hoặc cột có giá trị bị thiếu (NaN).

- how="all": Tham số 'how' xác định cách thức loại bỏ các hàng hoặc cột. Khi how="all", phương thức sẽ chỉ loại bỏ các hàng (hoặc cột) mà tất cả các giá trị trong đó đều là NaN.

7. Vấn đề 5: Có nhiều dòng dữ liệu bị trùng lắp thông tin hoàn toàn[fullname, lastname, age, weight,....], giải pháp đưa ra là chỉ giữ lại một dòng dữ liệu, tuy nhiên giải pháp phải dựa trên nghiệp vụ của tập dữ liệu và quan sát của người xử lý.

In [41]:
patientheartrate.drop_duplicates(subset=['Firstname','Lastname','Age','Weight'])
patientheartrate

      Id   Age Weight m0006 m0612 m12186 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69     71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -      -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -      -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79     72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -      -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -      -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -      -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76     75     -     -     -    Scööpy      Doo
11   9.0  52.0  85kgs     -     -      -    68    75    72      Huey   McDuck
12  10.0  12.0  45kgs     -     -      -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75     72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67     55     -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -      -    68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN    NaN   NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -      -    68    75    72       NaN      NaN

- drop_duplicates(): Dùng để xóa các hàng trùng lặp.

- subset=['Firstname','Lastname','Age','Weight']: Chỉ định các cột cần xem xét khi xác định các bản sao. Các hàng được coi là trùng lặp nếu chúng có cùng giá trị trong tất cả các cột này.

8. Vấn đề 6: Xuất hiện dữ liệu bị ảnh hưởng bởi lỗi non-ASCII, không định dạng ASCII. 
Giải pháp: Tùy vào nghiệp vụ ta có thể: xóa dữ liệu tại đó, thay thế bằng dữ liệu khác hoặc thay bằng việc đánh dấu bằng một kí tự khác (ví dụ: "warning").

In [42]:
patientheartrate.Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
patientheartrate.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
patientheartrate

      Id   Age Weight m0006 m0612 m12186 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69     71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -      -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -      -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79     72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -      -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -      -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -      -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76     75     -     -     -      Scpy      Doo
11   9.0  52.0  85kgs     -     -      -    68    75    72      Huey   McDuck
12  10.0  12.0  45kgs     -     -      -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75     72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67     55     -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -      -    68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN    NaN   NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -      -    68    75    72       NaN      NaN

- patientheartrate.Firstname: Đây là cột Firstname của DataFrame patientheartrate.

- patientheartrate.Lastname: Đây là cột Lastname của DataFrame patientheartrate.

- {r'[^\x00-\x7F]+':''}: Đây là một dictionary trong đó khóa là biểu thức chính quy (regex) và giá trị là chuỗi rỗng. Biểu thức chính quy r'[^\x00-\x7F]+' khớp với bất kỳ ký tự nào không thuộc bảng mã ASCII.

- regex=True: Xác định rằng replace sẽ sử dụng biểu thức chính quy để tìm kiếm các ký tự cần thay thế.
 
- inplace=True: Thực hiện thay thế trực tiếp trên DataFrame mà không tạo bản sao.

9. Vấn đề 7: "Missing values", vấn đề này xảy ra tại các cột "Age", "Weight" và "Heart Rate". Thiếu dữ liệu (dữ liệu không đầy đủ) là vấn đề xảy ra nhiều trong các nguồn dữ liệu do nhiều nguyên nhân chủ quan lẫn khách quan.Có một vài giải pháp để xử lý vấn đề này, chủ yếu dựa trên kinh nghiệm và nghiệp vụ về tập dữ liệu đó.

In [43]:
index_ageweightnull = patientheartrate[patientheartrate['Age'].isna() & patientheartrate['Weight'].isna()].index
index_ageweightnull

Index([15, 16], dtype='int64')

- patientheartrate['Age'].isna(): Điều kiện này kiểm tra các giá trị trong cột 'Age' có phải là NaN hay không, trả về một Series với các giá trị True nếu giá trị đó là NaN và False nếu không.

- patientheartrate['Weight'].isna(): Điều kiện này kiểm tra các giá trị trong cột 'Weight' có phải là NaN hay không, trả về một Series với các giá trị True nếu giá trị đó là NaN và False nếu không.

- '&': Toán tử này dùng để thực hiện phép AND logic giữa hai Series phía trước và sau nó. 

- index: Lấy ra các chỉ số (index) của những hàng đã được chọn ở bước trước.

In [44]:
patientheartrate.drop(index_ageweightnull, inplace=True)
patientheartrate

      Id   Age Weight m0006 m0612 m12186 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69     71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -      -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -      -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79     72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -      -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -      -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -      -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76     75     -     -     -      Scpy      Doo
11   9.0  52.0  85kgs     -     -      -    68    75    72      Huey   McDuck
12  10.0  12.0  45kgs     -     -      -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75     72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67     55     -     -     -    Michel     Long
17  15.0  52.0  81kgs     -     -      -    68    75    72       NaN      NaN

- drop(): Xóa các hàng có chỉ số nằm trong 'index_ageweightnull' khỏi DataFrame patientheartrate

In [45]:
patientheartrate['Age'].fillna(patientheartrate['Age'].mean(), inplace=False)
patientheartrate

      Id   Age Weight m0006 m0612 m12186 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69     71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -      -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -      -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79     72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -      -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -      -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -      -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76     75     -     -     -      Scpy      Doo
11   9.0  52.0  85kgs     -     -      -    68    75    72      Huey   McDuck
12  10.0  12.0  45kgs     -     -      -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75     72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67     55     -     -     -    Michel     Long
17  15.0  52.0  81kgs     -     -      -    68    75    72       NaN      NaN

- patientheartrate['Age']: Truy cập cột 'Age' trong DataFrame.

- patientheartrate['Age'].mean(): Tính giá trị trung bình của cột Age.

Vấn đề 8: "Một cột chứa quá nhiều thông tin cần được phân rã", như trong bài toán này ta thấy header "m0006" chứa các nội dung bao gồm: m -> male, 1218 ~ 12-18 (mm-dd). Còn giá trị thì là kết quả huyết áp.

In [46]:
patientheartrate_2 = pd.melt(patientheartrate, 
             id_vars=['Id', 'Age', 'Weight', 'Firstname', 'Lastname'], 
             value_name="PulseRate", 
             var_name="sex_and_time").sort_values(['Id', 'Age', 'Weight', 'Firstname', 'Lastname'])
patientheartrate_2.head(10)

     Id   Age Weight Firstname Lastname sex_and_time PulseRate
0   1.0  56.0  70kgs     Micky     Mous        m0006        72
13  1.0  56.0  70kgs     Micky     Mous        m0612        69
26  1.0  56.0  70kgs     Micky     Mous       m12186        71
39  1.0  56.0  70kgs     Micky     Mous        f0006         -
52  1.0  56.0  70kgs     Micky     Mous        f0612         -
65  1.0  56.0  70kgs     Micky     Mous        f1218         -
1   2.0  34.0  70kgs    Donald     Duck        m0006         -
14  2.0  34.0  70kgs    Donald     Duck        m0612         -
27  2.0  34.0  70kgs    Donald     Duck       m12186         -
40  2.0  34.0  70kgs    Donald     Duck        f0006        85

- pd.melt(): Dùng để chuyển dữ liệu từ dạng ngắn sang dạng dài.

- id_vars=['Id', 'Age', 'Weight', 'Firstname', 'Lastname']: Các cột này sẽ được giữ nguyên trong DataFrame kết quả.

- value_name="PulseRate": Tên của cột giá trị mới được tạo ra.

- var_name="sex_and_time": Tên của cột mới sẽ chứa các tên cột ban đầu.

- sort_values(['Id', 'Age', 'Weight', 'Firstname', 'Lastname']): Hàm này dùng để sắp xếp DataFrame theo các cột được chỉ định.

In [47]:
tmp_df= patientheartrate_2["sex_and_time"].str.extract("(\D)(\d+)(\d{2})", expand=True)
tmp_df.head(10)

    0    1   2
0   m   00  06
13  m   06  12
26  m  121  86
39  f   00  06
52  f   06  12
65  f   12  18
1   m   00  06
14  m   06  12
27  m  121  86
40  f   00  06

-  patientheartrate_2["sex_and_time"]: Lấy cột 'sex_and_time' từ DataFrame.

- str.extract("(\D)(\d+)(\d{2})", expand=True): Sử dụng 'str_extract' để trích xuất các nhóm ký tự từ chuỗi trong cột sex_and_time dựa trên biểu thức chính quy (\D)(\d+)(\d{2}). 

- expand=True: kết quả trích xuất sẽ được trả về dưới dạng một DataFrame với mỗi nhóm được đặt trong một cột riêng biệt.

- Biểu thức chính quy "(\D)(\d+)(\d{2})" có nghĩa là:

=> (\D): Nhóm đầu tiên chứa một ký tự không phải số.

=> (\d+): Nhóm thứ hai chứa một hoặc nhiều ký tự số.

=> (\d{2}): Nhóm thứ ba chứa chính xác hai ký tự số.

In [48]:
tmp_df.columns = ["Sex","hour","minute"]
tmp_df.head(10)

   Sex hour minute
0    m   00     06
13   m   06     12
26   m  121     86
39   f   00     06
52   f   06     12
65   f   12     18
1    m   00     06
14   m   06     12
27   m  121     86
40   f   00     06

- Thay đổi các cột của DataFrame 'tmp_df' thành "sex", "hour", và "minute" theo thứ tự.

In [49]:
tmp_df["Time"] = tmp_df["hour"]+"-"+tmp_df["minute"]
tmp_df.head(10)

   Sex hour minute    Time
0    m   00     06   00-06
13   m   06     12   06-12
26   m  121     86  121-86
39   f   00     06   00-06
52   f   06     12   06-12
65   f   12     18   12-18
1    m   00     06   00-06
14   m   06     12   06-12
27   m  121     86  121-86
40   f   00     06   00-06

- tmp_df["Time"]: Tạo ra một cột mới tên là "Time"

-  tmp_df["hour"]+"-"+tmp_df["minute"]: Kết hợp giá trị của hai cột này sẽ ra được giá trị của cột "Time" với dấu gạch ngang ở giữa

In [50]:
patientheartrate_2 = pd.concat([patientheartrate_2, tmp_df], axis=1)
patientheartrate_2.head(10)

,Id,Age,Weight,Firstname,Lastname,sex_and_time,PulseRate,Sex,hour,minute,Time
0,1.0,56.0,70kgs,Micky,Mous,m0006,72,m,00,06,00-06
13,1.0,56.0,70kgs,Micky,Mous,m0612,69,m,06,12,06-12
26,1.0,56.0,70kgs,Micky,Mous,m12186,71,m,121,86,121-86
39,1.0,56.0,70kgs,Micky,Mous,f0006,-,f,00,06,00-06
52,1.0,56.0,70kgs,Micky,Mous,f0612,-,f,06,12,06-12
65,1.0,56.0,70kgs,Micky,Mous,f1218,-,f,12,18,12-18
1,2.0,34.0,70kgs,Donald,Duck,m0006,-,m,00,06,00-06
14,2.0,34.0,70kgs,Donald,Duck,m0612,-,m,06,12,06-12
27,2.0,34.0,70kgs,Donald,Duck,m12186,-,m,121,86,121-86
40,2.0,34.0,70kgs,Donald,Duck,f0006,85,f,00,06,00-06

- Sử dụng hàm "pd.concat()" để nối hay phần tử "patientheartrate_2" và "tmp_df"

- axis=1: Các cột của "tmp_df" sẽ được thêm vào "patientheartrate_2"

In [51]:
patientheartrate_2 = patientheartrate_2.drop(["sex_and_time","hour","minute"],axis=1)
patientheartrate_2 = patientheartrate_2.dropna()
patientheartrate_2.head(10)

     Id   Age Weight Firstname Lastname PulseRate Sex    Time
0   1.0  56.0  70kgs     Micky     Mous        72   m   00-06
13  1.0  56.0  70kgs     Micky     Mous        69   m   06-12
26  1.0  56.0  70kgs     Micky     Mous        71   m  121-86
39  1.0  56.0  70kgs     Micky     Mous         -   f   00-06
52  1.0  56.0  70kgs     Micky     Mous         -   f   06-12
65  1.0  56.0  70kgs     Micky     Mous         -   f   12-18
1   2.0  34.0  70kgs    Donald     Duck         -   m   00-06
14  2.0  34.0  70kgs    Donald     Duck         -   m   06-12
27  2.0  34.0  70kgs    Donald     Duck         -   m  121-86
40  2.0  34.0  70kgs    Donald     Duck        85   f   00-06

- drop(): Loại bỏ các cột được liệt kê từ DataFrame patientheartrate_2.

- axis=1: Chỉ định rằng các cột sẽ được loại bỏ (axis=1 tương ứng với cột, axis=0 tương ứng với hàng).

- dropna(): Sau khi loại bỏ các cột, dòng này loại bỏ bất kỳ hàng nào trong DataFrame patientheartrate_2 có giá trị NaN.

In [52]:
patientheartrate_2.to_csv("outputcleanup.csv", index=False)
print(patientheartrate_2)

      Id   Age Weight Firstname Lastname PulseRate Sex    Time
0    1.0  56.0  70kgs     Micky     Mous        72   m   00-06
13   1.0  56.0  70kgs     Micky     Mous        69   m   06-12
26   1.0  56.0  70kgs     Micky     Mous        71   m  121-86
39   1.0  56.0  70kgs     Micky     Mous         -   f   00-06
52   1.0  56.0  70kgs     Micky     Mous         -   f   06-12
65   1.0  56.0  70kgs     Micky     Mous         -   f   12-18
1    2.0  34.0  70kgs    Donald     Duck         -   m   00-06
14   2.0  34.0  70kgs    Donald     Duck         -   m   06-12
27   2.0  34.0  70kgs    Donald     Duck         -   m  121-86
40   2.0  34.0  70kgs    Donald     Duck        85   f   00-06
53   2.0  34.0  70kgs    Donald     Duck        84   f   06-12
66   2.0  34.0  70kgs    Donald     Duck        76   f   12-18
4    5.0  54.0  90kgs      Pink  Panther         -   m   00-06
17   5.0  54.0  90kgs      Pink  Panther         -   m   06-12
30   5.0  54.0  90kgs      Pink  Panther         -   m  121-86
43   5.0  54.0  90kgs      Pink  Panther        69   f   00-06
69   5.0  54.0  90kgs      Pink  Panther        75   f   12-18
5    6.0  52.0  85kgs      Huey   McDuck         -   m   00-06
18   6.0  52.0  85kgs      Huey   McDuck         -   m   06-12
31   6.0  52.0  85kgs      Huey   McDuck         -   m  121-86
44   6.0  52.0  85kgs      Huey   McDuck        68   f   00-06
57   6.0  52.0  85kgs      Huey   McDuck        75   f   06-12
70   6.0  52.0  85kgs      Huey   McDuck        72   f   12-18
6    7.0  19.0  56kgs     Dewey   McDuck         -   m   00-06
19   7.0  19.0  56kgs     Dewey   McDuck         -   m   06-12
32   7.0  19.0  56kgs     Dewey   McDuck         -   m  121-86
45   7.0  19.0  56kgs     Dewey   McDuck        71   f   00-06
58   7.0  19.0  56kgs     Dewey   McDuck        78   f   06-12
71   7.0  19.0  56kgs     Dewey   McDuck        75   f   12-18
7    8.0  32.0  78kgs      Scpy      Doo        78   m   00-06
20   8.0  32.0  78kgs      Scpy      Doo        76   m   06-12
33   8.0  32.0  78kgs      Scpy      Doo        75   m  121-86
46   8.0  32.0  78kgs      Scpy      Doo         -   f   00-06
59   8.0  32.0  78kgs      Scpy      Doo         -   f   06-12
72   8.0  32.0  78kgs      Scpy      Doo         -   f   12-18
8    9.0  52.0  85kgs      Huey   McDuck         -   m   00-06
21   9.0  52.0  85kgs      Huey   McDuck         -   m   06-12
34   9.0  52.0  85kgs      Huey   McDuck         -   m  121-86
47   9.0  52.0  85kgs      Huey   McDuck        68   f   00-06
60   9.0  52.0  85kgs      Huey   McDuck        75   f   06-12
73   9.0  52.0  85kgs      Huey   McDuck        72   f   12-18
9   10.0  12.0  45kgs     Louie   McDuck         -   m   00-06
22  10.0  12.0  45kgs     Louie   McDuck         -   m   06-12
35  10.0  12.0  45kgs     Louie   McDuck         -   m  121-86
48  10.0  12.0  45kgs     Louie   McDuck        92   f   00-06
61  10.0  12.0  45kgs     Louie   McDuck        95   f   06-12
74  10.0  12.0  45kgs     Louie   McDuck        87   f   12-18

- Dùng hàm "to_csv()" để lưu data vào file mà mình muốn.

11. Hãy khảo sát tỉ lệ dữ liệu thiếu trên biến huyết áp.

In [53]:
# Check if the DataFrame is empty
if patientheartrate_2.empty:
    print("DataFrame is empty.")
else:
    print("DataFrame is not empty.")

# Check if there are NaN values in the DataFrame
if patientheartrate_2.isna().sum().sum() == 0:
    print("No NaN values in the DataFrame.")
else:
    print("There are NaN values in the DataFrame.")
    
# Plot the heatmap if there are NaN values
if not patientheartrate_2.empty and patientheartrate_2.isna().sum().sum() > 0:
    plt.figure(figsize=(10, 6))
    sns.heatmap(patientheartrate_2.isna(), yticklabels=False, cbar=True, cmap='viridis')
else:
    print("No data to plot or no NaN values in the DataFrame.")

DataFrame is not empty.
No NaN values in the DataFrame.
No data to plot or no NaN values in the DataFrame.

- Kiểm tra xem DataFrame có còn nhiều giá trị NaN hay không, nếu có thì hiển thị bằng biểu đồ.

In [54]:
patientheartrate_2['PulseRate']= patientheartrate_2['PulseRate'].replace({'-' : '0'}, regex=True)
patientheartrate_2["PulseRate"].fillna('0', inplace =True)
len(patientheartrate_2["PulseRate"])
patientheartrate_2.head(10)

     Id   Age Weight Firstname Lastname PulseRate Sex    Time
0   1.0  56.0  70kgs     Micky     Mous        72   m   00-06
13  1.0  56.0  70kgs     Micky     Mous        69   m   06-12
26  1.0  56.0  70kgs     Micky     Mous        71   m  121-86
39  1.0  56.0  70kgs     Micky     Mous         0   f   00-06
52  1.0  56.0  70kgs     Micky     Mous         0   f   06-12
65  1.0  56.0  70kgs     Micky     Mous         0   f   12-18
1   2.0  34.0  70kgs    Donald     Duck         0   m   00-06
14  2.0  34.0  70kgs    Donald     Duck         0   m   06-12
27  2.0  34.0  70kgs    Donald     Duck         0   m  121-86
40  2.0  34.0  70kgs    Donald     Duck        85   f   00-06

- patientheartrate_2['PulseRate'].replace({'-' : '0'}, regex=True): 

=> Sử dụng hàm "replace()" với tham số "regex=True" để thay thế các ký tự '-' trong cột "PulseRate" bằng 0.

- patientheartrate_2["PulseRate"].fillna('0', inplace =True): 

=> Sử dụng hàm "fillna()" kết hợp tham số "inplace=True" để điền trực tiếp giá trị 0 vào những ô trống trong cột "PulseRate".

In [55]:
def avgPulserate(patientheartrate_2, firstname):
  sumPulserate = 0
  nsumPulserate = 0
  for i, value in enumerate(patientheartrate_2['Firstname']):
    if value == firstname:
      try:
        if patientheartrate_2['PulseRate'][i] !='0':
          sumPulserate += int(patientheartrate_2['PulseRate'].values[i])
          nsumPulserate += 1
      except:
        pass
  if nsumPulserate > 0:
    return str(sumPulserate/nsumPulserate)
  else:
    return 0

In [56]:
def isValidIndex1(index, nrows):
  return index - 1 > 0 & index + 1 < nrows

In [57]:
def isValidIndex2(index, nrows):
  return index + 1 < nrows & index + 2 < nrows

In [58]:
def isPulseRateNotNull1(index, patientheartrate_2):
  return str(patientheartrate_2['PulseRate'].values[index-1])!= '0' and str(patientheartrate_2['PulseRate'].values[index+1])!= '0'

In [59]:
def isPulseRateNotNull2(index, patientheartrate_2):
  return str(patientheartrate_2['PulseRate'].values[index+1])!= '0' and str(patientheartrate_2['PulseRate'].values[index +2])!= '0'

In [60]:
def isInGroup1(patientheartrate_2, index, firstname):
  return patientheartrate_2['Firstname'].values[index-1]== firstname and patientheartrate_2['Firstname'].values[index +1]== firstname

In [61]:
def isInGroup2(patientheartrate_2, index, firstname):
  return patientheartrate_2['Firstname'].values[index+1]== firstname and patientheartrate_2['Firstname'].values[index +2]== firstname

In [62]:
def updatePulseRatena (index, patientheartrate_2):
  nrows = len(patientheartrate_2['PulseRate']) -2
  newvalue = ''
  firstname = patientheartrate_2['Firstname'].values[index]
  try:
    if isValidIndex1(index,nrows) & isPulseRateNotNull1(index, patientheartrate_2) & isInGroup1(patientheartrate_2, index, firstname):
      try: 
        newvalue = (int(patientheartrate_2['PulseRate'].values[index-1]) + int(patientheartrate_2['PulseRate'].values[index+1]))/2
      except:
        newvalue = '0'
    elif isValidIndex2(index,nrows) & isPulseRateNotNull2(index, patientheartrate_2) & isInGroup2(patientheartrate_2, index, firstname):
      try:
        newvalue = (int(patientheartrate_2['PulseRate'].values[index-1]) + int(patientheartrate_2['PulseRate'].values[index+1]))/2
      except:
        newvalue ='0'
    else:
      newvalue = avgPulserate(patientheartrate_2, firstname)
  except:
      newvalue = avgPulserate(patientheartrate_2, firstname)
  finally:
    pass
  return newvalue

In [63]:
len(patientheartrate_2["PulseRate"])

47

In [64]:
pulserateupdate = []
for index, value in enumerate(patientheartrate_2["PulseRate"]):
  if value =='0' or value == '':
    newvalue = updatePulseRatena(index,patientheartrate_2)
    pulserateupdate.append(newvalue)
  else:
    pulserateupdate.append(value)

In [65]:
patientheartrate_2["PulseRateUpdate"] = pulserateupdate

In [66]:
len(patientheartrate_2["PulseRateUpdate"])

47

In [67]:
patientheartrate_2

,Id,Age,Weight,Firstname,Lastname,PulseRate,Sex,Time,PulseRateUpdate
0,1.0,56.0,70kgs,Micky,Mous,72,m,00-06,72
13,1.0,56.0,70kgs,Micky,Mous,69,m,06-12,69
26,1.0,56.0,70kgs,Micky,Mous,71,m,121-86,71
39,1.0,56.0,70kgs,Micky,Mous,0,f,00-06,72.0
52,1.0,56.0,70kgs,Micky,Mous,0,f,06-12,72.0
65,1.0,56.0,70kgs,Micky,Mous,0,f,12-18,72.0
1,2.0,34.0,70kgs,Donald,Duck,0,m,00-06,0.0
14,2.0,34.0,70kgs,Donald,Duck,0,m,06-12,0.0
27,2.0,34.0,70kgs,Donald,Duck,0,m,121-86,0.0
40,2.0,34.0,70kgs,Donald,Duck,85,f,00-06,85
53,2.0,34.0,70kgs,Donald,Duck,84,f,06-12,84
66,2.0,34.0,70kgs,Donald,Duck,76,f,12-18,76
4,5.0,54.0,90kgs,Pink,Panther,0,m,00-06,0.0
17,5.0,54.0,90kgs,Pink,Panther,0,m,06-12,0.0
30,5.0,54.0,90kgs,Pink,Panther,0,m,121-86,0.0
43,5.0,54.0,90kgs,Pink,Panther,69,f,00-06,69
69,5.0,54.0,90kgs,Pink,Panther,75,f,12-18,75
5,6.0,52.0,85kgs,Huey,McDuck,0,m,00-06,70.0
18,6.0,52.0,85kgs,Huey,McDuck,0,m,06-12,70.0
31,6.0,52.0,85kgs,Huey,McDuck,0,m,121-86,70.0
44,6.0,52.0,85kgs,Huey,McDuck,68,f,00-06,68
57,6.0,52.0,85kgs,Huey,McDuck,75,f,06-12,75
70,6.0,52.0,85kgs,Huey,McDuck,72,f,12-18,72
6,7.0,19.0,56kgs,Dewey,McDuck,0,m,00-06,71.0
19,7.0,19.0,56kgs,Dewey,McDuck,0,m,06-12,71.0
32,7.0,19.0,56kgs,Dewey,McDuck,0,m,121-86,71.0
45,7.0,19.0,56kgs,Dewey,McDuck,71,f,00-06,71
58,7.0,19.0,56kgs,Dewey,McDuck,78,f,06-12,78
71,7.0,19.0,56kgs,Dewey,McDuck,75,f,12-18,75
7,8.0,32.0,78kgs,Scpy,Doo,78,m,00-06,78
20,8.0,32.0,78kgs,Scpy,Doo,76,m,06-12,76
33,8.0,32.0,78kgs,Scpy,Doo,75,m,121-86,75
46,8.0,32.0,78kgs,Scpy,Doo,0,f,00-06,0.0
59,8.0,32.0,78kgs,Scpy,Doo,0,f,06-12,0.0
72,8.0,32.0,78kgs,Scpy,Doo,0,f,12-18,0.0
8,9.0,52.0,85kgs,Huey,McDuck,0,m,00-06,70.0
21,9.0,52.0,85kgs,Huey,McDuck,0,m,06-12,70.0
34,9.0,52.0,85kgs,Huey,McDuck,0,m,121-86,70.0
47,9.0,52.0,85kgs,Huey,McDuck,68,f,00-06,68
60,9.0,52.0,85kgs,Huey,McDuck,75,f,06-12,75
73,9.0,52.0,85kgs,Huey,McDuck,72,f,12-18,72
9,10.0,12.0,45kgs,Louie,McDuck,0,m,00-06,62.333333333333336
22,10.0,12.0,45kgs,Louie,McDuck,0,m,06-12,62.333333333333336
35,10.0,12.0,45kgs,Louie,McDuck,0,m,121-86,62.333333333333336
48,10.0,12.0,45kgs,Louie,McDuck,92,f,00-06,92
61,10.0,12.0,45kgs,Louie,McDuck,95,f,06-12,95
74,10.0,12.0,45kgs,Louie,McDuck,87,f,12-18,87

12. Hãy rút gọn dữ liệu phù hợp và reindex lại dữ liệu. Sau đó, lưu trữ dữ liệu đã xử lý thành công với tên file patient_heart_rate_clean.csv

In [68]:
patientheartrate_2.to_csv("patient_heart_rate_clean.csv", index=False)
read_file = pd.read_csv("D:\DataAnalyst\Lab_3\patient_heart_rate_clean.csv")
read_file

,Id,Age,Weight,Firstname,Lastname,PulseRate,Sex,Time,PulseRateUpdate
0,1.0,56.0,70kgs,Micky,Mous,72,m,00-06,72.000000
1,1.0,56.0,70kgs,Micky,Mous,69,m,06-12,69.000000
2,1.0,56.0,70kgs,Micky,Mous,71,m,121-86,71.000000
3,1.0,56.0,70kgs,Micky,Mous,0,f,00-06,72.000000
4,1.0,56.0,70kgs,Micky,Mous,0,f,06-12,72.000000
5,1.0,56.0,70kgs,Micky,Mous,0,f,12-18,72.000000
6,2.0,34.0,70kgs,Donald,Duck,0,m,00-06,0.000000
7,2.0,34.0,70kgs,Donald,Duck,0,m,06-12,0.000000
8,2.0,34.0,70kgs,Donald,Duck,0,m,121-86,0.000000
9,2.0,34.0,70kgs,Donald,Duck,85,f,00-06,85.000000
10,2.0,34.0,70kgs,Donald,Duck,84,f,06-12,84.000000
11,2.0,34.0,70kgs,Donald,Duck,76,f,12-18,76.000000
12,5.0,54.0,90kgs,Pink,Panther,0,m,00-06,0.000000
13,5.0,54.0,90kgs,Pink,Panther,0,m,06-12,0.000000
14,5.0,54.0,90kgs,Pink,Panther,0,m,121-86,0.000000
15,5.0,54.0,90kgs,Pink,Panther,69,f,00-06,69.000000
16,5.0,54.0,90kgs,Pink,Panther,75,f,12-18,75.000000
17,6.0,52.0,85kgs,Huey,McDuck,0,m,00-06,70.000000
18,6.0,52.0,85kgs,Huey,McDuck,0,m,06-12,70.000000
19,6.0,52.0,85kgs,Huey,McDuck,0,m,121-86,70.000000
20,6.0,52.0,85kgs,Huey,McDuck,68,f,00-06,68.000000
21,6.0,52.0,85kgs,Huey,McDuck,75,f,06-12,75.000000
22,6.0,52.0,85kgs,Huey,McDuck,72,f,12-18,72.000000
23,7.0,19.0,56kgs,Dewey,McDuck,0,m,00-06,71.000000
24,7.0,19.0,56kgs,Dewey,McDuck,0,m,06-12,71.000000
25,7.0,19.0,56kgs,Dewey,McDuck,0,m,121-86,71.000000
26,7.0,19.0,56kgs,Dewey,McDuck,71,f,00-06,71.000000
27,7.0,19.0,56kgs,Dewey,McDuck,78,f,06-12,78.000000
28,7.0,19.0,56kgs,Dewey,McDuck,75,f,12-18,75.000000
29,8.0,32.0,78kgs,Scpy,Doo,78,m,00-06,78.000000
30,8.0,32.0,78kgs,Scpy,Doo,76,m,06-12,76.000000
31,8.0,32.0,78kgs,Scpy,Doo,75,m,121-86,75.000000
32,8.0,32.0,78kgs,Scpy,Doo,0,f,00-06,0.000000
33,8.0,32.0,78kgs,Scpy,Doo,0,f,06-12,0.000000
34,8.0,32.0,78kgs,Scpy,Doo,0,f,12-18,0.000000
35,9.0,52.0,85kgs,Huey,McDuck,0,m,00-06,70.000000
36,9.0,52.0,85kgs,Huey,McDuck,0,m,06-12,70.000000
37,9.0,52.0,85kgs,Huey,McDuck,0,m,121-86,70.000000
38,9.0,52.0,85kgs,Huey,McDuck,68,f,00-06,68.000000
39,9.0,52.0,85kgs,Huey,McDuck,75,f,06-12,75.000000
40,9.0,52.0,85kgs,Huey,McDuck,72,f,12-18,72.000000
41,10.0,12.0,45kgs,Louie,McDuck,0,m,00-06,62.333333
42,10.0,12.0,45kgs,Louie,McDuck,0,m,06-12,62.333333
43,10.0,12.0,45kgs,Louie,McDuck,0,m,121-86,62.333333
44,10.0,12.0,45kgs,Louie,McDuck,92,f,00-06,92.000000
45,10.0,12.0,45kgs,Louie,McDuck,95,f,06-12,95.000000
46,10.0,12.0,45kgs,Louie,McDuck,87,f,12-18,87.000000

- Dùng hàm "to_csv()" để lưu data vào file mà mình muốn.